<div class="box">
    <div class="container">
        <div class="img">
            <img [src]="servico.imagem" alt="Imagem do Serviço">
        </div>
        
        <div class="info">
            <h1>{{ servico.nome }}</h1>
            <p>Profissional: {{ servico.parceiro }}</p>
            <p>Endereço: {{ servico.endereco }}</p>
    
            <div class="botao">
                <button routerLink="/agendamento-detalhes">Detalhes</button>
            </div>
        </div>
        
        <div class="data">
            <div class="botao-cima">
                <h1>{{ servico.dia }}</h1>
                <p>{{ servico.mes }}</p>
            </div>
            
            <div class="botao-baixo">
                <h1>{{ servico.horario }}</h1>
            </div>
        </div>
    </div>
</div><div class="box">
    <div class="container">
        <div class="img">
            <img [src]="servico.imagem" alt="Imagem do Serviço">
        </div>
        
        <div class="info">
            <h1>{{ servico.nome }}</h1>
            <p>Profissional: {{ servico.parceiro }}</p>
            <p>Endereço: {{ servico.endereco }}</p>
    
            <div class="botao">
                <button routerLink="/agendamento-detalhes">Detalhes</button>
            </div>
        </div>
        
        <div class="data">
            <div class="botao-cima">
                <h1>{{ servico.dia }}</h1>
                <p>{{ servico.mes }}</p>
            </div>
            
            <div class="botao-baixo">
                <h1>{{ servico.horario }}</h1>
            </div>
        </div>
    </div>
</div>