<div class="main">
    <div class="container">
      <div class="box">
        <div class="form">
          <h1>Encontre o profissional mais próximo de você!</h1>
          <div class="pesquisa">
            <label for="especialidade"></label>
            <input id="especialidade" type="text" placeholder="Procure por serviços ou profissionais">
          </div>
          <div class="localizacao">
            <label for="localizacao">Escolha sua localidade:</label>
            <select id="localizacao">
              <option value="cidade1">Sorocaba</option>
              <option value="cidade2">Votorantim</option>
              <option value="cidade3">São Paulo</option>
            </select>
          </div>
          <div class="botao">
            <button id="btnPesquisar">Pesquisar</button>
          </div>
          <p>Mais de mil profissionais próximos para atender você e a sua família</p>
        </div>
        <div class="imagem">
          <img src="assets/profissionais.png" alt="Profissionais">
        </div>
      </div>
    </div>
  </div>
  
  
  
  