<p>Profissionais</p>
<div class="container">
    <div class="rectangle">
        <span class="name">Profissional: Camila de Oliveira</span>
        <button (click)="AbrirAtendimento()" class="btn btn-analisar">Analisar Atendimento</button>
        <button class="btn btn-excluir">Excluir</button>
    </div>
    <div class="rectangle">
        <span class="name">Profissional: Pedro da Silva</span>
        <button class="btn btn-analisar">Analisar Atendimento</button>
        <button class="btn btn-excluir">Excluir</button>
    </div>
    <div class="rectangle">
        <span class="name">Profissional: Raimundo Santos</span>
        <button class="btn btn-analisar">Analisar Atendimento</button>
        <button class="btn btn-excluir">Excluir</button>
    </div>
  </div>
