<div class="container">
    <div class="cima">
        <img class="logo-delbicos" src="assets/LogoHorizontal.png" alt="Logo Delbicos">
    </div>
    <div class="baixo">
        <div class="direita">
            <div class="item">
                <button>Página inicial</button>
            </div>
            <div class="item dropdown">
                <button class="dropdown-toggle">Categorias</button>
                <div class="dropdown-menu">
                    <a href="#">Beleza e estética</a>
                    <a href="#">Serviços Gerais</a>
                    <a href="#">Reparos e reformas</a>
                    <a href="#">Serviços domésticos</a>
                    <a href="#">Saúde</a>
                    <a href="#">Pets</a>
                    <a href="#">Eventos</a>
                </div>
            </div>
            <div class="item">
                <button>Ajuda</button>
            </div>
            <div class="item">
                <button>Portal do parceiro</button>
            </div>
        </div>
        <div class="esquerda">
            <div class="item">
                <button>Cadastre-se</button>
            </div>
            <div class="item-especial">
                <button>Entrar</button>
            </div>
        </div>
    </div>
</div>
