<div class="container2">
    <div class="texto">
      <h1>PRINCIPAIS SERVIÇOS</h1>
    </div>
    <div class="itens">
      <div class="up">
        <button routerLink="/pesquisa-1" class="category-btn">Beleza e estética</button>
        <button routerLink="/pesquisa-1" class="category-btn">Serviços gerais</button>
      </div>
      <div class="down">
        <button routerLink="/pesquisa-1" class="category-btn">Saúde</button>
        <button routerLink="/pesquisa-1" class="category-btn">Pet</button>
        <button routerLink="/pesquisa-1" class="category-btn">Eventos</button>
      </div>
    </div>
  </div>
  
  