.opcoes {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;  
    justify-items: center; 
  }
  
  button {

    padding: 12px 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    border-radius: 15px; 
    transition: background-color 0.3s, transform 0.2s;
    width: 100%; 
    max-width: 200px; 
  }
  
  button.selected {
    background-color: #005A93;
  }
  
  button:hover {
    transform: scale(1.05); 
  }
  
  button:not(.selected) {
    background-color: #FC8200;
    color: white;
  }
  