.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.valor {
    text-align: center;
    background: #005A93;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.info {
    text-align: center;
    margin-bottom: 20px;
}

.qr {
    text-align: center;
    background: #FC8200;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.qr img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

button {
    background: #005A93;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background: #FC8200;
}
