<div class="content pt-3 px-3">
    <div class="content">
        <p class="pb-3" style="font-weight: bold;">Analisar Atendimento: Camila de Oliveira</p>
        <div class="d-inline-flex g-3">
            <button class="btn btn-analisar">Comunicar com Profissional</button>
            <button class="btn btn-analisar">Comunicar com seu cliente</button>
            <button class="btn btn-analisar">Cancelar serviços</button>
            <button class="btn btn-analisar">Gravação</button>
            <button class="btn btn-analisar">Analise do chamado</button>
        </div>
        <div class="rectangle">
            <p>01/01/2024 - Mgs p/ Mario de Oliveira</p>
            <p>Bom dia, irei realizar o serviço. qual é seu endereço?</p>
        </div>
      </div>
</div>

