<div class="content">
    <div class="content">
        <p style="font-weight: bold;">Analisar chamado: Mario de Oliveira</p>
        <br>
        <br>
        <button class="btn btn-analisar">Comunicar com seu cliente</button>
        <button class="btn btn-analisar">Comunicar com Profissional</button>
        <button class="btn btn-analisar">Fechar</button>
        <button class="btn btn-analisar">Estornar</button>
        <label for="motivo">Selecione o motivo:</label>
  <select id="motivo" name="motivo">
    <option value="importante">Importante</option>
    <option value="erro-sistema">Erro de Sistema</option>
    <option value="infracao-legal">Infração Legal</option>
    <option value="problema-pagamento">Problema de Pagamento</option>
  </select>
        <button class="btn btn-pdf">PDF</button>
        <div class="rectangle">
            <p>01/01/2024 - Mgs p/ Mario de Oliveira</p>
            <p>Bom dia, irei realizar o serviço. qual é seu endereço?</p>
        </div>
      </div>
</div>
