.carousel-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 100%;
}

.carousel-item {
  flex: 0 0 100%;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
  position: absolute;
  top: auto;
  bottom: auto;
}

.carousel-image-container {
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 100%;
}

.carousel-item .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.carousel-item h3 {
  padding: 4px;
  text-align: right;
  font-size: 64px;
  color: var(--delbicos-white);
  text-shadow: 0px 0px 6px var(--delbicos-orange);
  width: 100%;
}

.carousel-item .overlay p {
  margin: 5px 0;
}
