<div class="container">
    <div class="cima">
        <img class="logo-delbicos" src="assets/LogoHorizontal.png" alt="Logo Delbicos">
    </div>
    <div class="baixo">
        <div class="direita">
            <div class="item">
                <button routerLink="">Página inicial</button>
            </div>
            <div class="item dropdown">
                <button class="dropdown-toggle">Categorias</button>
                <div class="dropdown-menu">
                    <a routerLink="/pesquisa-1">Beleza e estética</a>
                    <a routerLink="/pesquisa-1">Serviços Gerais</a>
                    <a routerLink="/pesquisa-1">Reparos e reformas</a>
                    <a routerLink="/pesquisa-1">Serviços domésticos</a>
                    <a routerLink="/pesquisa-1">Saúde</a>
                    <a routerLink="/pesquisa-1">Pets</a>
                    <a routerLink="/pesquisa-1">Eventos</a>
                </div>
            </div>
            <div class="item">
                <button routerLink="meus-agendamentos">Meus Agendamentos</button>
            </div>
            <div class="item">
                <button>Ajuda</button>
            </div>
        </div>
        <div class="esquerda">
            <div class="item-endereco">
                <span class="endereco-text">Av. Juscelino Kubitschek de Oliveira...</span>
                <span class="endereco-seta">▼</span>
            </div>
            <div class="item-especial">
                <button>Meu perfil</button>
            </div>
        </div>
    </div>
</div>
