/* You can add global styles to this file, and also import other style files */
:root {
  --delbicos-orange: #ff8811ff;
  --delbicos-paleorange: #ffd4a8;
  --delbicos-blue: #005a93ff;
  --delbicos-paleblue: #a8deff;
  --delbicos-black: #000000ff;
  --delbicos-white: #ffffffff;
}
