<div class="container">
  <div class="box">
    <div class="esquerda">  
      <div class="sobre">
        <h1>Sobre</h1>
        <p>{{ parceiro.sobre }}</p>
      </div>
      <div class="comodidades">
        <p>{{ parceiro.comodidades }}</p>
      </div>
      <div class="atendimento">
        <h1>Horário de atendimento</h1>
        <p>{{ parceiro.atendimento }}</p>
      </div>
    </div>
    <div class="direita">
      <div class="map">
        <p>{{ parceiro.map }}</p>
      </div>
      <div class="info">
        <h1>Endereço</h1>
        <p>{{ parceiro.endereco }}</p>
      </div>
    </div>
  </div>
</div>
